@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
}

.su-field tr:not(:last-child):nth-child(3n) td {
  @apply border-spacing-0 border-slate-700;
  border-bottom: 2px solid black;
}
.su-field tr td:not(:last-child):nth-child(3n) {
  border-right: 2px solid black;
}
