@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundBorderColor: rgba(255, 255, 255, 0.226);
}
p {
  @apply mb-8;
}
body {
  background-color: #121212;
}
table {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.btn-main {
  @apply flex rounded shrink-0  bg-mySecondary bg-opacity-90 hover:bg-opacity-50 w-20 h-20 text-white hover:text-myPrimary  text-4xl font-bold  text-center justify-center items-center;
}
.title {
  @apply font-bold text-4xl my-3;
}
.su-field tr:not(:last-child):nth-child(3n) td {
  border-bottom: 2px solid var(--backgroundBorderColor);
}
.su-field tr td:not(:last-child):nth-child(3n) {
  border-right: 2px solid var(--backgroundBorderColor);
}
